<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <script src="../static/app.js" defer></script>
        <title>Sobre o evento - Araruna Night Run 2026</title>
    </head>
    <body>
        <section class="hero-section">
            <div class="hero-content">
                <span class="badge"> Edição 2026 </span>

                <h1>
                    ARARUNA<br />
                    NIGHT RUN
                </h1>

                <p>Segunda Etapa - A corrida de Santo Antônio</p>
                <br />

                <div class="hero-buttons">
                    <a href="/formulario">
                        <button>Fazer inscrição</button>
                    </a>
                    <a href="/about">
                        <button class="about">

                        </button>
                    </a>
                </div>

                <div class="countdown">
                    <div class="count-box">
                        <strong>12</strong>
                        <span>Dias</span>
                    </div>

                    <div class="count-box">
                        <strong>08</strong>
                        <span>Horas</span>
                    </div>

                    <div class="count-box">
                        <strong>44</strong>
                        <span>Min</span>
                    </div>
                </div>
                <br />
                <section class="categories">


                    <div class="category-card">
                        <h3>2.2KM</h3>
                        <p>Ideal para iniciantes</p>
                    </div>

                    <div class="category-card featured">
                        <h3>4.4KM</h3>
                        <p>Um desafio aceitável</p>
                    </div>

                    <div class="category-card featured">
                        <h3>6.6KM</h3>
                        <p>Para os valentes do coração</p>
                    </div>

                    <div class="category-card">
                        <h3>Caminhada</h3>
                        <p>Para toda família</p>
                    </div>

                </section>
    </body>
    <script>

    const modal = document.getElementById("eventModal");

    const openBtn = document.getElementById("openModal");

    const closeBtn = document.getElementById("closeModal");

    openBtn.addEventListener("click", () => {
      modal.classList.add("active");
    });

    closeBtn.addEventListener("click", () => {
      modal.classList.remove("active");
    });

    modal.addEventListener("click", (e) => {
      if (e.target === modal) {
        modal.classList.remove("active");
      }
    });
    </script>
</html>
