<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <script src="{{ url_for('static', filename='app.js') }}" defer></script>
        <title>Sobre o evento - Araruna Night Run 2026</title>
    </head>
    <body>
        <section class="hero-section">
            <div class="hero-content">
                <span class="badge"> Edição 2026 </span>

                <h1>
                    ARARUNA<br />
                    NIGHT RUN
                </h1>

                <p>Segunda Etapa - A corrida de Santo Antônio</p>
                <br />

                <div class="hero-buttons">
                    <a href="/formulario">
                        <button>Fazer inscrição</button>
                    </a>
                    <a href="/about">
                        <button class="about">
                            Sobre o evento
                        </button>
                    </a>
                </div>

                <div class="countdown">
                    <div class="count-box">
                        <strong id="dias">00</strong>
                        <span>Dias</span>
                    </div>

                    <div class="count-box">
                        <strong id="horas">00</strong>
                        <span>Horas</span>
                    </div>

                    <div class="count-box">
                        <strong id="min">00</strong>
                        <span>Min</span>
                    </div>

                    <div class="count-box">
                        <strong id="seg">00</strong>
                        <span>Seg</span>
                    </div>
                </div>
                <script>
                window.addEventListener("DOMContentLoaded", () => {

                        const diasEl = document.getElementById("dias");
                        const horasEl = document.getElementById("horas");
                        const minEl = document.getElementById("min");
                        const segEl = document.getElementById("seg");

                        function atualizarContador() {

                            const evento = new Date("2026-05-19T20:00:00");
                            const agora = new Date();

                            const diff = evento - agora;

                            if (diff <= 0) {

                                document.querySelector(".countdown").innerHTML =
                                    "<p>O evento começou!</p>";

                                clearInterval(timer);

                                return;
                            }

                            const dias = Math.floor(
                                diff / (1000 * 60 * 60 * 24)
                            );

                            const horas = Math.floor(
                                (diff % (1000 * 60 * 60 * 24)) /
                                (1000 * 60 * 60)
                            );

                            const min = Math.floor(
                                (diff % (1000 * 60 * 60)) /
                                (1000 * 60)
                            );

                            const seg = Math.floor(
                                (diff % (1000 * 60)) / 1000
                            );

                            diasEl.textContent =
                                String(dias).padStart(2, "0");

                            horasEl.textContent =
                                String(horas).padStart(2, "0");

                            minEl.textContent =
                                String(min).padStart(2, "0");

                            segEl.textContent =
                                String(seg).padStart(2, "0");
                        }

                        atualizarContador();

                        const timer = setInterval(
                            atualizarContador,
                            1000
                        );

                    });
                </script>
                <br />
                <section class="categories-grid">


                    <div class="category-card">
                        <h3>2.2KM</h3>
                        <p>Ideal para iniciantes</p>
                    </div>

                    <div class="category-card featured">
                        <h3>4.4KM</h3>
                        <p>Um desafio aceitável</p>
                    </div>

                    <div class="category-card featured">
                        <h3>6.6KM</h3>
                        <p>Para os valentes do coração</p>
                    </div>

                    <div class="category-card">
                        <h3>Caminhada</h3>
                        <p>Para toda família</p>
                    </div>
                </section>
    </body>
</html>
